
.activite-unique-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
     box-sizing: border-box;
  width: 60%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
    .activite-unique-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      
      .activite-unique-image {
        // width: 100%;
        // height: 100%;
        margin-bottom: 10px;
        object-fit: cover;
      }
      
      .activite-unique-status {
        font-size: 1.2rem;
        font-weight: bold;
        color: #46bd7f;
        margin-bottom: 10px;
      }
      
      .activite-unique-title {
        font-size: 2rem;
        margin: 0;
        margin-bottom: 10px;
      }
      
      .activite-unique-date, .activite-unique-lieu {
        font-size: 1.2rem;
        margin: 0;
      }
    }
    
    .activite-unique-description {
      text-align: justify;
      margin-bottom: 20px;
      
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      p {
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    
    .activite-unique-participants {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      
      p {
        margin: 0;
      }
    }
    .activity-buttons {
      display: flex;
      justify-content: space-between;

      
        display: inline-block;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin: 10px;
        
        &.btn-inscription {
          background-color: #46bd7f;
        
        &:hover {
          background-color: #2b754f;
        }
      }
        &.btn-invitations {
          background-color: #ffd034;
          transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #a88921;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
