.activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    .activity {
      display: flex;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      
      .activity-image {
        width: 100%;
        height: 150px;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .activity-info {
        flex: 1;
        padding: 10px;
        
        .activity-title {
          font-size: 1.2rem;
          margin: 0;
        }
        
        .activity-location {
          font-size: 1rem;
          margin: 10px 0;
        }
        
        .activity-buttons {
          display: flex;
          justify-content: space-between;
          
          a {
            display: inline-block;
            padding: 8px 12px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            
            &.btn-see-activity {
              background-color: #4caf50;
            }
            
            &.btn-join-activity {
              background-color: #2196f3;
            }
          }
        }
      }
    }
  }
  