.activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    
    .activity {
      display: block;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      
      .activity-image {
        width: 100%;
        height: 150px;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .activity-info {
        flex: 1;
        padding: 10px;
        
        .activity-title {
          font-size: 1.2rem;
          margin: 0;
        }
        
        .activity-location {
          font-size: 1rem;
          margin: 10px 0;
        }
        
        .activity-buttons {
          display: flex;
          justify-content: space-between;
          
          a {
            display: inline-block;
            padding: 8px 12px;
            border-radius: 5px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            margin: 10px;
            
            &.btn-see-activity {
              background-color: #46bd7f;
            
            &:hover {
              background-color: #2b754f;
            }
          }
            &.btn-join-activity {
              background-color: #ffd034;
              transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #a88921;
              transition: all 0.3s ease-in-out;
            }
          }
          }
        }
      }
    }
  }
  
.btn-creation-activity {
  width: 50%;
    background-color: #46bd7f;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;
    &:hover {
      background-color: #2b754f;
      transition: all 0.3s ease-in-out;
    }
  }