.ressource-card {
  box-sizing: border-box;
  width: 60%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;

  img {
    display: block;
    margin: 15px auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }
}
.voir-plus {
  margin-left: auto;
  background-color: #4183f4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 5px;
  width: 100px;
  height: 30px;
  align-self: flex-end;
  margin-bottom: 25px;
  a {
  font-size: 11px;
  color: #fff;
  
  }
  &:hover {
    background-color: #2c59a7;
  }

  &:active {
    background-color: #ffd034;
  }
}
.interactions {
  display: flex;
  justify-content: space-between;
button { 
  background-color: #4183f4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  gap: 5px;
  &:hover {
    background-color: #2c59a7;
  }
  
  &:active {
    background-color: #ffd034;
  }
}
.icon {
  background-color: #f7f7f7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  padding: auto;
  &:hover {
    background-color: #8a8a8a;
  }
  .icon, img {
    margin-bottom: 0px;
  }
}
}
.infos-ressources {
  font-size: 12px; 
  text-align: right; 
  color: gray; 
}
.infos-ressources img {
  width: 16px; 
  height: 16px;
  vertical-align: middle; 
  margin-right: 5px; 
}

.comment-btn {
  background-color: #4183f4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 6px;
}
  @media screen and (max-width: 768px) {
    .ressource-card {
      width: 80%;
      padding: 10px;
    }
    h2 {
      font-size: 24px;
      }
      p {
      font-size: 14px;
      }
  }

  @media screen and (max-width: 480px) {
    .ressource-card {
      width: 100%;
      padding: 10px;
      margin: 0;
      img {
      width: 70%;
      }
      h2 {
      font-size: 20px;
      }
      p {
      font-size: 14px;
      }
      }
}
.moderation-ressource {
  background-color: #ff9999;
  display: flex;
  
}
.btn-commentaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.moderation-commentaire {
  background-color: #ff9999;
  
  padding: 10px;
  margin: 10px;
}