.search-form {
    margin-top: 60px;  
    max-width: 50%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    
    input[type="text"] {
      flex: 1;
      padding-left: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px 0 0 5px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      margin: 0;
      background-color: #f3f3f3;
      font-size: 14px;
      color:#46BD7F;
      &:span{
        color:#46BD7F;
      }
    }
    button[type="submit"] {
      background-color: #46BD7F;
      color: #fff;
      height: auto;
      border: none;
      border-radius: 0 5px 5px 0;
      font-size: 18px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #2D7A52;
      }
    }
  }