$input-background: #f7f7f7;

h4 {
    margin-bottom: 20px;
    text-align: center;
  }

.login {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    form {
      display: flex;
      flex-direction: column;
      .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 10px;
        label {
          display: block;
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
        }
        input[type="email"],
        input[type="password"] {
          width: 100%;
          border-radius: 10px;
          border: none;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
          font-size: 14px;
          margin-bottom: 0.2rem;
          outline: none;
          background: $input-background;
        }
      }
      button[type="submit"] {
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 1rem;
      }
    }
  }
  