.css-1jruifh-MuiStack-root {
    font-size: 0.7em;
    margin: auto;
    width: 60%;
    
}
// .css-l3ln04-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
//     padding: 0.1em;
//     background-color: f3f3f3;
// }