$input-background: #f7f7f7;

h4 {
    margin-bottom: 20px;
    text-align: center;
  }

.signup {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 10px;
        label {
          display: block;
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
        }
        label::after {
          content: " *";
          color: RED;
        }
  
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 95%;
          border: none;
          border-radius: 10px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
          font-size: 14px;
          margin-bottom: 0.2rem;
          outline: none;
          background: $input-background;
        }
      }
  
      button[type="submit"] {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.8rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }
  

  @media screen and (max-width: 768px) {
    .signup {
      max-width: 95%;
      padding: 1rem;
    }
    
    form {
      .form-group {
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          font-size: 12px;
          padding: 0.6rem;
        }
      }
      
      button[type="submit"] {
        font-size: 1rem;
        padding: 0.6rem;
        margin-top: 0.5rem;
      }
    }
  }