h4 {
    margin-bottom: 20px;
    text-align: center;
  }

.signup {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .form-group {
        margin-bottom: 0.5rem;
  
        label {
          display: block;
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
        }
  
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          padding: 0.5rem;
          border: none;
          border-bottom: 2px solid #e0e0e0;
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
          outline: none;
          background: transparent;
        }
      }
  
      button[type="submit"] {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.8rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }
  