.navbar {

    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgb(218, 220, 224) 0px -1px 0px 0px inset;
    
  }

.header-logo {
    width: 7em;

}