.search {
    max-width: 80%;
    margin: auto;
    h1 {
      margin-bottom: 20px;
    }
    .search-form {
      display: flex;
      margin-bottom: 20px;
      input[type="text"] {
        flex: 1;
        padding-left: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px 0 0 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        margin: 0;
      }
      button[type="submit"] {
        background-color: #46BD7F;
        color: #fff;
        height: auto;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 18px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #2D7A52;
        }
      }
    }
    .search-results {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 80%;
      .search-result {
        text-align: center;
        box-sizing: border-box;
         width: 80%;
         margin: 2em 0.8em;
         padding: 10px 30px;
         box-shadow: lightgray 4px 4px 20px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        h2 {
          margin-bottom: 10px;
        }
        .buttons {
          display: flex;
          justify-content: center;
          button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 5px;
            }
            &.btn-see-ressources{
              background-color: #46bd7f;
            }
          }
        }
      }
    }
  