.side-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 10px;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    height: 190px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 10px;
    box-shadow: lightgray 4px 4px 20px;
    
    a {
      color: #4183f4;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      padding: 8px;
      
      &:hover {
        color: #2c59a7;
      }
      &:active {
        color: #ffd034;
      }
    }
    @media (max-width: 992px) {
display: none;
}
}
